In [5]:
import pandas as pd

In [6]:
import re

In [7]:
import os

['130,Name : Hariprasad. A', "131,Father's Name : Raman Rao", '132,House Number: A-1', '133,Age: 58 Gender: MALE']

In [9]:
df = pd.read_fwf('31_154_5.txt')

In [10]:
df = df.fillna('')

In [11]:
df['col_to_use'] = df['Part number'].astype(str)+df['Unnamed: 1'].astype(str)+df['Unnamed: 2'].astype(str)+df['Unnamed: 3'].astype(str)+df['Unnamed: 4'].astype(str)

In [12]:
df_string = df.col_to_use.to_csv()

In [13]:
def getNumbers(str): 
    array = re.findall(r'[A-Z]{3}\d{7}', str) 
    return array

In [14]:
pages = df_string.split('Total Pages')

In [15]:
pd.DataFrame(pages[2].split('\n')).to_csv('page_2.csv')

In [16]:
len(getNumbers(pages[2]))

30

In [17]:
page = pages[2].split('\n')

In [18]:
from collections import defaultdict
import pandas as pd

pandas_dict = defaultdict(list)

for i in pages[2]:
    pat = r"^Name:(.*)"
    if re.search(pat, i):
        pandas_dict["name"].append(re.search(pat, i).group(1))

In [19]:
[i.split(',')[0] for i in page]

[' 42 - Page 2',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '360',
 '361',
 '362',
 '363',
 '364']

In [20]:
page = pages[2]
print(page)

 42 - Page 2
124,
125,Assembly Constituency No and Name : 154-Rajarajeshwarinagar
126,Part number: 5
127,Section No and Name : 1-H.M.T. Sector -2 A Type
128,MCL3843331
129,REJ6405237
130,Name : Hariprasad. A
131,Father's Name : Raman Rao
132,House Number: A-1
133,Age: 58 Gender: MALE
134,MCL3843349 | 2
135,Name : Sathyavani
136,Husband's Name : Hariprasad.A
137,House Number: A-1
138,Photo is Age : 56 Gender: FEMALE
139,Available
140,Name : Sai Madhulika. A.
141,Father's Name : Hari Prasad. A.
142,House Number: A-1
143,Age: 27 Gender: FEMALE
144,Photo is
145,Available
146,Photo is
147,Available
148,REJ7450539
149,5
150,6
151,REJ5817879
152,REJ6457865
153,Name : Shirisha B
154,Husband's Name: Pavan Kumar T
155,House Number: 18
156,Age: 31 Gender: FEMALE
157,Name: Ashwin A
158,Father's Name: arun kumar
159,House Number: 22
160,Age: 25 Gender: MALE
161,Name : Revathi Bai.K
162,Husband's Name : Janardhan Rao.N
163,House Number: 2A 44
164,Age: 50 Gender: FEMALE
165,Photo is
166,Available
167,Photo is
168,Available
169,Photo is
170,Available
171,71
172,REJ7843667
173,REJ7686017
174,REJ7686686
175,Name : Lalitha J
176,Husband's Name : Dinesh HL
177,House Number: B-2/1
178,Age: 29 Gender : FEMALE
179,18
180,Name: suneetha NA
181,Father's Name : Anne gowda NB
182,House Number: 28
183,Age : 33 Gender : FEMALE
184,9
185,Name : ANNAPURNAS
186,Husband's Name: LATEKS
187,MAHADEVA SHASTRYL
188,"House Number: SECTOR 2,"
189,Age : 56 Gender : FEMALE
190,Photo is
191,Available
192,Photo is
193,Available
194,Photo is
195,Available
196,REJ7681489
197,REJ7686694
198,REJ6111710
199,10
200,Name: PALLAVITLL
201,Husband's Name: CHETHAN KML
202,"House Number: SECTOR 2,"
203,Age: 33 Gender: FEMALE
204,Name : APARNA M
205,Other's Name : CHETHAN KML
206,"House Number: SECTOR 2,"
207,Age: 32 Gender: FEMALE
208,12
209,Name : V. Vijayakumaran
210,Father's Name: Late. R. Vhylan
211,House Number: A-03
212,Age: 56 Gender : MALE
213,Photo is
214,Available
215,Photo is
216,Available
217,Photo is
218,Available
219,REJ6193411
220,REJ6118186
221,REJ6192033
222,131
223,Name : N. Tamil Selvi
224,Husband's Name : V. Vijayakumaran
225,House Number: A-03
226,Age : 52 Gender: FEMALE
227,. 141
228,Name : Menaka V.
229,Father's Name : V. Vijayakurnaran
230,House Number: A-03
231,Age : 31 Gender: FEMALE
232,15
233,Name : Aishwarya V.
234,Father's Name : V. Vijayakumaran
235,House Number: A-03
236,Age: 29 Gender: FEMALE
237,Photo is
238,Available
239,Photo is
240,Available
241,Photo is
242,Available
243,REJ6129076
244,17
245,REJ6139562
246,18
247,REJ4251310
248,16
249,Name: V Selva Raj
250,Father's Name : Late Vylan
251,House Number: A3
252,Age: 53 Gender: MALE
253,Name: Padmavathi
254,Husband's Name: V Selva raj
255,House Number: A3
256,Age: 44 Gender: FEMALE
257,Name: Kiran Kumar C
258,Father's Name: V Chandrashekhar
259,House Number: A3
260,Age: 31 Gender : MALE
261,Photo is
262,Available
263,1
264,Photo is
265,Available
266,Photo is
267,Available
268,REJ5819354
269,REJ4449435
270,I 19
271,Name: Radhakrishna.R.V
272,Father's Name : Vailana.R
273,House Number: A-3
274,Age: 48 Gender: MALE
275,MCL3844016 IL 20
276,Name : Shree gowri
277,Father's Name: Radha krishna
278,House Number: 39
279,Photo is Age : 26 Gender: FEMALE
280,Available
281,21
282,Name : Suknya Nayak
283,Husband's Name : Sathyananda Nayak
284,House Number: 004/13
285,Age: 70 Gender: FEMALE
286,Photo is
287,Available
288,Photo is
289,Available
290,22
291,REJ4449427
292,23
293,REJ6457675
294,24
295,REJ5817911
296,Name : Rajesh Nayak
297,Father's Name : Sathyananda Nayak
298,House Number: 004/13
299,Age : 52 Gender: MALE
300,Name : M Jhonson Stanley
301,Father's Name: J. Mathew
302,House Number: 42
303,Age : 55 Gender: MALE
304,Name : Manoj. V
305,Father's Name : Vijay kumar.M
306,House Number: 4.D. 12
307,Age : 26 Gender: MALE
308,Photo is
309,Available
310,Photo is
311,Available
312,Photo is
313,Available
314,REJ7612971
315,REJ6096127
316,REJ7437684
317,25
318,Name : Narasimha Murthy N
319,Father's Name : Narayanappa P
320,House Number: 43
321,Age: 23 Gender: MALE
322,26
323,Name : R.Ananda Ram
324,Father's Name :
325,Late. Ramachandraiaya.K
326,House Number: 50
327,Age : 56 Gender: MALE
328,27
329,Name : Parvathamma
330,Husband's Name : Vaddaraiah
331,House Number: 51
332,Age: 71 Gender : FEMALE
333,Photo is
334,Available
335,Photo is
336,Available
337,Photo is
338,Available
339,28
340,REJ7446818
341,REJ7437676
342,Name : Rajalakshmi
343,Husband's Name : Harish KN
344,House Number: 51
345,Age: 48 Gender: FEMALE
346,REJ7438278
347,129
348,Name : Harish KN
349,Father's Name : Vaddaraiah
350,House Number: 51
351,Photo is Age: 42 Gender: MALE
352,Available
353,301
354,Name : Anil Kumar KH
355,Father's Name : Harish KN
356,House Number: 51
357,Age: 30 Gender : MALE
358,Photo is
359,Available
360,Photo is
361,Available
362,Age as on 01.01.2020
363,Date of Publication:-16-12-2019
364,

In [54]:
array = ['130,Name : Hariprasad. A',
 "131,Father's Name : Raman Rao",
 '132,House Number: A-1',
 '133,Age: 58 Gender: MALE',]

husband = ['185,Name : ANNAPURNAS',
 "186,Husband's Name: LATEKS",
 '187,MAHADEVA SHASTRYL',
 '188,"House Number: SECTOR 2,"',
 '189,Age : 56 Gender : FEMALE',]

text = '\n'.join(husband).replace('"', '')
print(text)

185,Name : ANNAPURNAS
186,Husband's Name: LATEKS
187,MAHADEVA SHASTRYL
188,House Number: SECTOR 2,
189,Age : 56 Gender : FEMALE

In [64]:
search_pattern = "(\d+),Name : (.*\n)(\d+),Father's Name :(.*\n)(\d+),House Number:(.*\n)(\d+),Age:\s*(\d+)\s*Gender:\s*([A-Z]+)"
if not match:
    search_pattern = "(\d+),Name : (.*\n)(\d+),Husband's Name:(.*\n.*\n)(\d+),House Number:\s*(.*\n)(\d+),Age\s*:\s*(\d+)\s*Gender\s*:\s*([A-Z]+)"

if not match:
    pass
match = re.search(search_pattern, text)
row = match.group(1)
name = match.group(2)
print(name)
fathers_name = match.group(4)
print(fathers_name)
house_number = match.group(6)
print(house_number)
age = match.group(8)
gender = match.group(9)
print(age,gender)

error: unbalanced parenthesis at position 95 (line 5, column 23)